/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #181818;
  color: white;
  text-align: center;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
